body {
    background-color: #555;
}

.todo-app {
    width: 80%;
    margin: 10px auto;
}
.todos {
    
    background-color: #ddd;
    padding: 5px;
    border-radius: 2px;

}

.todo-item {
    padding: 5px;
    background-color: #fff;
    margin-bottom:  5px;
    border-radius: 5px;
    position: relative;
}

.todo-item__remove {
    border: none;
    background-color: rgba(239, 77, 74, 0.9);
    color: #fff;
    border-radius: 10px;
    position: absolute;
    right: 5px;
}